.modal {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  color: #fff;
  position: fixed;
  padding: 30px;
  font-size: 21px;
  overflow-y: auto;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
.flashcards {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}
.flashcardsList {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.flashcardListItem {
  border-bottom: 1px solid #999;
  color: #fff;
  padding: 5px;
  margin: 4px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
.flashcard {
  border: 1px solid #999;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  margin: 4px;
  font-size: 20px;
}
.button {
  width: 99%;
  padding: 5px;
  background-color: #111;
  color: #888;
  border: 0px;
}
.button-reset {
  margin-top: 10px;
  font-size: 23px;
  width: 99%;
  padding: 12px;
  background-color: #111;
  color: #888;
  border: 0px;
}

.fontRow {
  display: flex;
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  height: 40px;
}
.fontRow .fontButton {
  width: 23%;

  padding: 5px;
  background-color: #111;
  color: #888;
  border: 0px;
}
.fontRow .editButton {
  width: 16%;

  padding: 5px;
  background-color: #111;
  color: #888;
  border: 0px;
}

.navRow {
  display: flex;
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 40px;
}
.navRow .navButton {
  width: 49%;

  padding: 5px;
  background-color: #111;
  color: #888;
  border: 0px;
}

.modalFontRow {
  display: flex;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 10px;
  height: 40px;
}
.modalFontRow .fontButton {
  width: 48%;

  padding: 5px;
  background-color: #111;
  color: #888;
  border: 0px;
}

.button-game-next {
  width: 80px;
  padding: 15px;
  background-color: transparent;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 40%,
    rgb(49, 49, 49) 100%
  );
  color: #888;
  border: 0px;
  position: fixed;
  bottom: 0;
  right: 0;
  height: calc(100vh - 340px);
}
.button-game-next-auto-x3 {
  width: 80px;
  height: 120px;
  padding: 15px;
  background-color: transparent;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 40%,
    rgb(49, 49, 49) 100%
  );
  color: #888;
  border: 0px;
  border-bottom: 1px solid #333;
  position: fixed;
  top: 220px;
  right: 0;
}
.button-game-next-auto-x5 {
  width: 80px;
  height: 120px;
  padding: 15px;
  background-color: transparent;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 40%,
    rgb(49, 49, 49) 100%
  );
  color: #888;
  border: 0px;
  border-bottom: 1px solid #333;
  position: fixed;

  right: 0;
}
.flashcards-game {
  flex-direction: column;
  width: calc(100vw - 80px);
}
.start-game-button {
  text-align: center;
  padding: 2px;
  color: #6cabff;
  border: 0px;
  font-size: 17px;
  float: left;
  border-radius: 4px;
  border: 1px solid #6cabff;
  width: 49%;
  margin-top: 5px;
  display: table;
  margin-inline: 5px;
}
.flashcard-game {
  border: 1px solid #999;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  margin: 4px;
  font-size: 20px;
  display: inline-block;
}

.loader {
  background-color: #7983ff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-inline: 6px;
  animation: fade 1s linear infinite;
  display: inline-block;
  border-radius: 50%;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
